.detalleProducto{
    max-width: 950px;
    margin-top: 10em;
    
}

/* Contador */
.counter {
    margin-top: 1em;
    margin-bottom: 1em;
}

.counter .less{
    border-radius: 20px;
    margin-right: 15px;
    
}

.counter .plus{
    border-radius: 20px;
    margin-left: 15px;
}
/* Fin contador */

/* Botón agregar al carrito */
.btn-agregarCarrito{
    border-radius: 1.5em;
    margin-left: 1em;
}
/* Fin botón agregar al carrito */

.btn-continuar{
    border-radius: 1.5em;
    margin-left: 15px;
}

.btn-finish{
    border-radius: 1.5em;
    margin-left: 15px;
}