
.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Kaushan';
}

.logo {
    width: 80px;
    height: 75px;
    margin-right: 2em;
    margin-left: 1em;
}

.dropdown-menu{
    border-radius: 10px;
}

.dropdown-item{
    font-size: 20px;
}

.form-control{
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
}

.btn-search{
    border-radius: 10px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
}

.btn.disabled{
    opacity: 0.9;
}

.btn-carrito {
    border-radius: 1em;
    margin-left: 1em;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    
}

.btn-carrito span{
    margin-left: 3px;
    color: whitesmoke;
}

.nav-item{
    margin-right: 3px;
}

