.HomeProd {
    margin-top: 5em;
    display:flex;
    justify-content: center;
}

.cardProducto {
    text-align: center;
    width: 18rem;
    margin: 2em;
    
}

.card-img-top{
    border-radius: 10px;
}

.card-title{
    
    margin-bottom: 1em;
}

.btn-verProducto{
    border-radius:1.5em;
    
}

