.row{
    margin-left: 0;
    margin-right: 0;
}

body{
    background-color: #484349;
}


/* Estilos de tarjetas de los prodcutos en el inicio */
.HomeProd {
    padding-top: 5em;
    display:flex;
    justify-content: center;
    background-color:#484349;
}

.cardProducto {
    text-align: center;
    width: 18rem;
    margin: 2em;
    background-color: #F7F0F0 !important;
}

.card-img-top{
    border-radius: 10px;
}

.card-title{
    
    margin-bottom: 1em;
}

.btn-verProducto{
    border-radius:1.5em;
    
}

