HTML CSS BabelResult Skip Results Iframe
EDIT ON
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
    font-family: 'OpenSans';
    src: url('../public/fonts/SourceSansPro-SemiboldIt.otf');
}

@font-face{
    font-family: 'Kaushan';
    src: url('../public/fonts/KaushanScript-Regular.otf');
}




/* Inicio estilos Header "Contador mundial" */
/* html,
body {
  height: 100%;
}

.app {
    background: rgb(79,0,0);
    background: linear-gradient(180deg, rgba(79,0,0,1) 0%, rgba(175,14,58,1) 100%);
  color:antiquewhite;
  font-family: "Kaushan";
  height: 13vh;
  text-align: center;
}

.headerTitle {
  font-size: 35px;
  color: white;
  margin: 0px 35px 0px 35px;
 
}

.containerClock {
  align-items: center;
  display: flex;
  flex-direction:row;
  height: 100%;
  justify-content: center;
}

.timer {
  font-family: "OpenSans";
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 430px;
}

.col-4 {
  width: 25%;
  float: left;
}

.box {
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  font-weight: 300;
  padding: 10px;
}

.col-4:last-child .box {
  border-right-color: transparent;
}

.box p {
  font-size: calc(16px + 2vmin);
  margin: 0;
}

.text {
  font-size: 14px;
} */
/* Fin estilos Header "Contador mundial" */