* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    
@font-face{
    font-family: 'OpenSans';
    src: url('../public/fonts/SourceSansPro-SemiboldIt.otf');
}

@font-face{
    font-family: 'Kaushan';
    src: url('../public/fonts/KaushanScript-Regular.otf');
}
