@font-face{
    font-family: 'OpenSans';
    src: url('../public/fonts/SourceSansPro-SemiboldIt.otf');
}

@font-face{
    font-family: 'Kaushan';
    src: url('../public/fonts/KaushanScript-Regular.otf');
}
